//- include ./svg-mixin-partials

mixin elementGenerator(number, name, desc, linkConfig, classname, column, row)
  - const localIdentName = locals.localIdentName;
  div(class=`${localIdentName.element} ${localIdentName[classname]} c${column} r${row}`)
    input(type='radio', name='elements', class=`${localIdentName.activate}`)
    dialog(class=`${localIdentName.square}`)
      form(method='dialog', class=`${classname}`)
        label(class=`${localIdentName.number}`)= number
        dl(class=`${localIdentName.info}`)
          dd(class=`${localIdentName.name}`, title=`${name}`)= name
          dt(class=`${localIdentName.desc}`, title=`${desc}`)= desc
        ul(class=`${localIdentName.links}`)
          each name, index in Object.keys(linkConfig)
            li: a(href=linkConfig[name] target='_blank' role='link' rel='noopener' title=`Ready to go to ${name} official website`) #{name}
    input(type='radio', name='elements', class=`${localIdentName.deactivate}`)
