include ./template/variable-partials
include ./template/element-mixin-partials
include ./template/placeholder-mixin-partials

- locals.localIdentName = require('!isomorphic-style-loader!css-loader?modules=true&localIdentName=[local]--[hash:base64:5]&hashPrefix=hash!postcss-loader?ident=postcss!CSS/entry/app.css');
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=6.0, minimum-scale=1.0, shrink-to-fit=no")
    title=htmlWebpackPlugin.options.title
  body
    main#main.container(role="main")
      .wrapper
        each category in locals.categories
          input.category-emit(type='radio', id=category, name='categories')
        input.category-cancel(type='radio', id='cancel' name='categories')
        .table-container
          include ./template/element-partials
          ol.categories
            each category in locals.categories
              li.category(class=category): label(for=category) #{category}
